* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 30px 80px;
    padding: 0px 40px;
    box-shadow: 0px 0px 80px 5px #ccc;
    border-radius: 10px;
    transition: box-shadow 0.5s;
}

header:hover {
    box-shadow: 0px 0px 40px 10px #ccc;
}

header div ul {
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div ul li {
    display: inline;
    margin: 0px 15px;
}

header div ul li .link-btn {
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: 500;
    color: #474747;
    border: 2px solid #474747;
    transition: background-color 0.5s;
    transition: color 0.2s;
}

header div ul li .link-btn:hover {
    background-color: #474747;
    color: #fff;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 80px;
    flex-direction: column;
}

section .main {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    padding: 50px;
    background-color: #474747;
    color: #fff;
    box-shadow: 0px 0px 80px 5px #acacac;
    border-radius: 10px;
    transition: box-shadow 0.5s;
}

section .main:hover {
    box-shadow: 0px 0px 40px 10px #acacac;
}

section .main h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

section .main p {
    margin-bottom: 40px;
    font-size: 23px;
}

section .main .link-btn {
    display: inline-block;
    color: #fff;
    padding: 10px 35px;
    border-radius: 10px;
    font-weight: 500;
    border: 2px solid #fff;
    transition: background-color 0.5s;
    transition: color 0.2s;
}

section .main .link-btn:hover {
    background-color: #fff;
    color: #000;
}

section .card-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section .card-section .card {
    width: 300px;
    height: 300px;
    perspective: 800px;
    margin: 30px;
}

section .card-section .card .card-content {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0px 0px 40px 10px #acacac;
}

section .card-section .card:hover .card-content {
    transform: rotateY(180deg);
}

section .card-section .card .card-content .front-side, .card-section .card .card-content .back-side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    font-size: 20px;
}

section .card-section .card .card-content .front-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .card-section .card .html .front-side {
    background-color: #e65100;    
}

section .card-section .card .css .front-side {
    background-color: #0277bd;
}

section .card-section .card .js .front-side {
    background-color: #ffd600;
}

section .card-section .card .card-content .back-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    transform: rotateY(180deg);
}

section .card-section .card .card-content .card-img {
    width: 250px;
    height: 250px;
}

footer {
    margin: 30px 80px;
    padding: 20px;
    box-shadow: 0px 0px 80px 15px #ccc;
    border-radius: 10px;
    transition: box-shadow 0.5s;
}

footer:hover {
    box-shadow: 0px 0px 40px 15px #ccc;
}

@media (max-width: 1000px) {
    header {
        margin: 30px 40px;
    }

    section {
        margin: 30px 40px;
    }

    footer {
        margin: 30px 40px;
    }
}

@media (max-width: 800px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 30px 40px;
        padding: 30px;
    }

    header div ul {
        padding: 0;
    }

    section .main {
        font-size: 20px;
    }

    section .main h1 {
        margin-bottom: 20px;
        font-size: 30px;
    }
    
    section .main p {
        margin-bottom: 40px;
        font-size: 20px;
    }

    footer {
        font-size: 18px;
    }
}